.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #0d173f;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}

.navLink, .dropbtn {
  display: inline-block;
  color: #f2f2f2;
  background-color: #0d173f;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover, .dropbtn:hover {
  background-color: #0929b9;
}

.dropdown {
  display: inline-block;
  color: #f2f2f2;
  align-items: center;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0d173f;
  color: #f2f2f2;
  z-index: 1;
  padding: 0px 20px;
}

.dropdown:hover {
  background-color: #0929b9;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropLink:hover {
  background-color: #0a2396;
}